@media screen and (min-width: 1200px) {
  /* PC用のスタイル */
	
body{
	width: 100%;
	height: 100%;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
	background-color: #202020;
}
	@keyframes checked-anim {
    50% {
        width: 3000px;
        height: 3000px;
    }
    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes not-checked-anim {
    0% {
        width: 3000px;
        height: 3000px;
    }
}
#nav li {
    margin: 75px 0 -55px 0;
    color: #FF3C00;
    font: 14pt "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.8;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 0;
    display: none;
	z-index: 5;
}
#nav li {
    width: 230px;
    text-indent: 56px;
}
#nav a:focus {
    display: block;
    color: #FF3C00;
    background-color: #eee;
    transition: all .5s;
}

#trigger, #burger, #burger:before, #burger:after {
    position: absolute;
    top: 25px;
    left: 25px;
    background: #FF3C00;
    width: 30px;
    height: 5px;
    transition: .2s ease;
    cursor: pointer;
    z-index: 3;
}
#trigger {
    height: 25px;
    background: none;
}
#burger:before {
    content: " ";
    top: 10px;
    left: 0;
}
#burger:after {
    content: " ";
    top: 20px;
    left: 0;
}
#menu-toggle:checked + #trigger + #burger {
    top: 35px;
    transform: rotate(180deg);
    transition: transform .2s ease;
}

#menu-toggle:checked + #trigger + #burger:before {
    width: 20px;
    top: -2px;
    left: 18px;
    transform: rotate(45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu-toggle:checked + #trigger + #burger:after {
    width: 20px;
    top: 2px;
    left: 18px;
    transform: rotate(-45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu {
    position: absolute;
    margin: 0; padding: 0;
    width: 110px;
    height: 110px;
    background-color: #fff;
    border-bottom-right-radius: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    animation: not-checked-anim .2s both;
    transition: .2s;
	z-index: 2;
}
#menu-toggle:checked + #trigger + #burger + #menu {
    animation: checked-anim 1s ease both;
}
#menu-toggle:checked + #trigger ~ #menu > li, a {
    display: block;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    display: none;
}
a{
	color: #333333;
    text-decoration: none;
}
@font-face{
	font-family:'puluto';
	src:url(../fonts/puluto/@font-face/4d0796be30c31c45ef73848143fd1401.eot);
	src:url(../fonts/puluto/@font-face/4d0796be30c31c45ef73848143fd1401.woff),
		url(../fonts/puluto/@font-face/4d0796be30c31c45ef73848143fd1401.svg),
		url(../fonts/puluto/@font-face/4d0796be30c31c45ef73848143fd1401.woff2),
		url(../fonts/puluto/@font-face/4d0796be30c31c45ef73848143fd1401.ttf);
}
h1{
	font-family:'puluto';
	font-size: 6rem;
	margin: 0;
	color: #FFFFFF;
	margin-left: 25%;
	margin-top: 8%;
}
.card1{
	margin: 0;
	width: 50%;
	height: 100vh;
	background-color: #FF3C00;
}
.card1 img{
	width: 70%;
	margin-top: 10%;
	margin-left: 15%;
	box-shadow: 0 2px 10px rgba(0,0,0,.2)
	
}
.card1 h2{
	font-size: 1rem;
	width: 60%;
	height: 50px;
	background-color: #ffffff;
	margin-left: 15%;
	margin-top: 0;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
	padding-left: 10%;
	padding-top: 3%;
}
.text1{
	font-size: 1.5rem;
	color: #FFFFFF;
	font-family:'OpenSans';
	margin-left: 27%;
}
.card2{
	float: right;
	margin: 0;
	width: 50%;
	height: 50vh;
	background-color: #FFC300;
	overflow: hidden;
}
.card2 img{
	width: 50%;
	margin-top: 8%;
	margin-left: 25%;
	box-shadow: 0 2px 10px rgba(0,0,0,.2)
}
.card2 h2{
	font-size: 0.9rem;
	width: 44%;
	height: 50px;
	background-color: #ffffff;
	margin-left: 25%;
	margin-top: 0;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
	padding-left: 6%;
	padding-top: 3%;	
}
.card3{
	width: 25%;
	height: 50vh;
	background-color: #3C3C3C;
	float: right;
	margin-right: 25%;
	overflow: hidden;
	position: absolute;
	bottom: 0.1%;
	left: 50%;
}
.card3 img{
	width: 70%;
	margin-top: 25%;
	margin-left: 17%;
	box-shadow: 0 2px 10px rgba(0,0,0,.2)
}
.card3 h2{
	font-size: 0.9rem;
	width: 60%;
	height: 50px;
	background-color: #ffffff;
	margin-left: 17%;
	margin-top: 0;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
	padding-left: 10%;
	padding-top: 5%;	
}
.card4{
	width: 25%;
	height: 50vh;
	background-color: #fff;
	float: right;
	margin-right: 25%;
	overflow: hidden;
	position: absolute;
	bottom: 0.1%;
	left: 75%;
}
.card4 img{
	width: 70%;
	margin-top: 25%;
	margin-left: 17%;
	box-shadow: 0 2px 10px rgba(0,0,0,.2)
}
.card4 h2{
	font-size: 0.9rem;
	width: 60%;
	height: 50px;
	background-color: #ffffff;
	margin-left: 17%;
	margin-top: 0;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
	padding-left: 10%;
	padding-top: 5%;	
}
main{
	position: relative;
}

}

/* CSS */
@media screen and (max-width: 375px) {
		
	body{
	width: 100%;
	height: 100%;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
	background-color: #202020;
}
	@keyframes checked-anim {
    50% {
        width: 3000px;
        height: 3000px;
    }
    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes not-checked-anim {
    0% {
        width: 3000px;
        height: 3000px;
    }
}
#nav li {
    margin: 75px 0 -55px 0;
    color: #FF3C00;
    font: 14pt "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.8;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 0;
    display: none;
	z-index: 5;
}
#nav li {
    width: 230px;
    text-indent: 56px;
}
#nav a:focus {
    display: block;
    color: #FF3C00;
    background-color: #eee;
    transition: all .5s;
}

#trigger, #burger, #burger:before, #burger:after {
    position: absolute;
    top: 25px;
    left: 25px;
    background: #FF3C00;
    width: 30px;
    height: 5px;
    transition: .2s ease;
    cursor: pointer;
    z-index: 3;
}
#trigger {
    height: 25px;
    background: none;
}
#burger:before {
    content: " ";
    top: 10px;
    left: 0;
}
#burger:after {
    content: " ";
    top: 20px;
    left: 0;
}
#menu-toggle:checked + #trigger + #burger {
    top: 35px;
    transform: rotate(180deg);
    transition: transform .2s ease;
}

#menu-toggle:checked + #trigger + #burger:before {
    width: 20px;
    top: -2px;
    left: 18px;
    transform: rotate(45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu-toggle:checked + #trigger + #burger:after {
    width: 20px;
    top: 2px;
    left: 18px;
    transform: rotate(-45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu {
    position: absolute;
    margin: 0; padding: 0;
    width: 110px;
    height: 110px;
    background-color: #fff;
    border-bottom-right-radius: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    animation: not-checked-anim .2s both;
    transition: .2s;
	z-index: 2;
}
#menu-toggle:checked + #trigger + #burger + #menu {
    animation: checked-anim 1s ease both;
}
#menu-toggle:checked + #trigger ~ #menu > li, a {
    display: block;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    display: none;
}
	a{
	color: #333333;
    text-decoration: none;
}
@font-face{
	font-family:'puluto';
	src:url(../fonts/puluto/@font-face/4d0796be30c31c45ef73848143fd1401.eot);
	src:url(../fonts/puluto/@font-face/4d0796be30c31c45ef73848143fd1401.woff),
		url(../fonts/puluto/@font-face/4d0796be30c31c45ef73848143fd1401.svg),
		url(../fonts/puluto/@font-face/4d0796be30c31c45ef73848143fd1401.woff2),
		url(../fonts/puluto/@font-face/4d0796be30c31c45ef73848143fd1401.ttf);
}
	h1{
	font-family:'puluto';
	font-size: 4rem;
	margin: 0;
	color: #FFFFFF;
	margin-left: 10%;
	margin-top: 35%;
}
.card1{
	margin: 0;
	width: 100%;
	height: 100vh;
	background-color: #FF3C00;
}
.card1 img{
	width: 80%;
	margin-top: 10%;
	margin-left: 10%;
	box-shadow: 0 2px 10px rgba(0,0,0,.2)
	
}
.card1 h2{
	font-size: 1.6rem;
	width: 73%;
	height: 120px;
	background-color: #ffffff;
	margin-left: 10%;
	margin-top: 0;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
	padding-left: 7%;
	padding-top: 6%;
}
.text1{
	font-size: 1.1rem;
	color: #FFFFFF;
	font-family:'OpenSans';
	margin-left: 10%;
}

.card2{
	margin: 0;
	width: 100%;
	height: 70vh;
	background-color: #FFC300;
	overflow: hidden;
}
.card2 img{
	width: 80%;
	margin-top: 20%;
	margin-left: 10%;
	box-shadow: 0 2px 10px rgba(0,0,0,.2)
}
.card2 h2{
	font-size: 1.6rem;
	width: 73%;
	height: 120px;
	background-color: #ffffff;
	margin-left: 10%;
	margin-top: 0;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
	padding-left: 7%;
	padding-top: 6%;

}
	.card3{
	margin: 0;
	width: 100%;
	height: 70vh;
	background-color: #3C3C3C;
	overflow: hidden;
}
.card3 img{
	width: 80%;
	margin-top: 20%;
	margin-left: 10%;
	box-shadow: 0 2px 10px rgba(0,0,0,.2)
}
.card3 h2{
	font-size: 1.6rem;
	width: 73%;
	height: 120px;
	background-color: #ffffff;
	margin-left: 10%;
	margin-top: 0;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
	padding-left: 7%;
	padding-top: 6%;

}
		.card4{
	margin: 0;
	width: 100%;
	height: 70vh;
	background-color: #fff;
	overflow: hidden;
}
.card4 img{
	width: 80%;
	margin-top: 20%;
	margin-left: 10%;
	box-shadow: 0 2px 10px rgba(0,0,0,.2)
}
.card4 h2{
	font-size: 1.6rem;
	width: 73%;
	height: 120px;
	background-color: #ffffff;
	margin-left: 10%;
	margin-top: 0;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
	padding-left: 7%;
	padding-top: 6%;

}
}